<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>940032766947-c5jp93oosc9p7mq5f99s3h3ilgmkv5pe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940032766947-c5jp93oosc9p7mq5f99s3h3ilgmkv5pe</string>
	<key>API_KEY</key>
	<string>AIzaSyBZnLzPv7_3QvLDIugVUKnXCLjepkih2Dc</string>
	<key>GCM_SENDER_ID</key>
	<string>940032766947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.psyphertxt.afyc</string>
	<key>PROJECT_ID</key>
	<string>afyc-3fffd</string>
	<key>STORAGE_BUCKET</key>
	<string>afyc-3fffd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940032766947:ios:7c9c470185ee7576</string>
	<key>DATABASE_URL</key>
	<string>https://afyc-3fffd.firebaseio.com</string>
</dict>
</plist>